<!-- @format -->

<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">New Restaurant</h1>
  <div class="col-md-6 offset-md-3">
    <div class="card shadow">
      <div class="card-body">
        <form
          action="/heritages"
          method="post"
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="heritage[title]"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              id="location"
              name="heritage[location]"
              required
            />
          </div>
          <div class="mb-3 custom-file">
            <label for="image" class="form-label custom-file-label"
              >Images</label
            >
            <input
              class="form-control"
              type="file"
              id="image"
              name="image"
              multiple
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Average Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="text"
                id="price"
                class="form-control"
                aria-label="price"
                aria-describedby="price-label"
                name="heritage[price]"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="heritage[description]"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-success" type="submit">
              Add restaurant
            </button>
          </div>
        </form>
        <a href="/heritages">Back</a>
      </div>
    </div>
  </div>
</div>
